In [27]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
dataset = pd.read_csv("Customer_Prediction.csv")

In [3]:
dataset.head(3)

,Creadit_Score,Age,Tenure,Balance,Number_Of_Products,HasCrCardis,Active_Member,Estimated_Salary,Exited
0,567,23,1,34554,1,0,0,6757,1
1,598,54,4,34567,4,1,1,6435,0
2,678,54,3,0,1,0,1,688,1

In [4]:
dataset.isnull().sum()

Creadit_Score         0
Age                   0
Tenure                0
Balance               0
Number_Of_Products    0
HasCrCardis           0
Active_Member         0
Estimated_Salary      0
Exited                0
dtype: int64

In [ ]:
# In Above No Any NULL Values

In [7]:
input_data = dataset.iloc[:,:-1]

output_data = dataset.iloc[:,-1]

In [14]:
ss = StandardScaler()
# calculates the mean and standard deviation of each feature in the input_data

input_data = pd.DataFrame(ss.fit_transform(input_data),columns = input_data.columns)

In [15]:
input_data

,Creadit_Score,Age,Tenure,Balance,Number_Of_Products,HasCrCardis,Active_Member,Estimated_Salary
0,0.042203,-1.325160,-1.939233,-0.344849,-1.720431,-1.054093,-1.172604,-0.371331
1,0.171671,0.640884,-0.591230,-0.344842,0.062561,0.948683,0.852803,-0.371541
2,0.505782,0.640884,-1.040564,-0.360934,-1.720431,-1.054093,0.852803,-0.375289
3,0.046380,-1.325160,-1.040564,-0.344835,-0.531770,0.948683,0.852803,-0.375506
4,0.092320,-0.056745,0.756774,-0.334514,0.062561,0.948683,0.852803,-0.375363
5,-0.371259,-0.056745,-0.141895,-0.148308,0.062561,-1.054093,-1.172604,-0.150486
6,1.666818,1.338512,1.655443,-0.358804,-1.126100,-1.054093,0.852803,-0.078086
7,1.416235,0.070097,0.756774,-0.360634,0.062561,0.948683,-1.172604,2.603316
8,-1.348533,-1.325160,0.307439,-0.358292,0.062561,0.948683,0.852803,-0.373486
9,0.326198,1.338512,-1.040564,-0.360934,-0.531770,0.948683,0.852803,-0.372780
10,0.284434,-1.452002,1.655443,-0.359429,0.656892,0.948683,-1.172604,-0.375716
11,1.574937,0.767725,-1.040564,-0.360825,1.251222,-1.054093,0.852803,-0.373486
12,-0.834838,-0.754373,1.206109,3.159530,1.845553,-1.054093,-1.172604,-0.375442
13,-0.955953,1.148250,-0.141895,-0.324924,-0.531770,-1.054093,0.852803,-0.346161
14,-0.709546,0.450621,0.756774,-0.360900,-1.126100,-1.054093,-1.172604,-0.353213
15,-1.348533,-0.754373,-1.040564,-0.359289,0.656892,0.948683,0.852803,3.183311
16,-0.880778,0.640884,0.756774,2.644649,1.845553,0.948683,-1.172604,-0.375368
17,1.666818,1.338512,-0.141895,-0.360931,0.062561,-1.054093,0.852803,-0.372036
18,-1.344357,-1.325160,0.307439,-0.360934,0.656892,0.948683,-1.172604,-0.371338

In [26]:
input_data.shape

(19, 8)

In [28]:
x_train, x_test, y_train, y_test = train_test_split(input_data, output_data, test_size=0.2, random_state=42)

In [34]:
x_train.shape

(15, 8)

In [29]:
import tensorflow

In [30]:
from keras.layers import Dense
from keras.models import Sequential

In [31]:
ann = Sequential()

In [32]:
from keras.models import Sequential
from keras.layers import Dense

# Create a new neural network model
ann = Sequential()

# Add the first hidden layer with 6 neurons, input dimension of 8, and ReLU activation
ann.add(Dense(6, input_dim = 8, activation="relu"))

# Add the second hidden layer with 4 neurons and ReLU activation
ann.add(Dense(4, activation="relu"))

# Add the third hidden layer with 2 neurons and ReLU activation
ann.add(Dense(2, activation="relu"))

# Add the output layer with 1 neuron and sigmoid activation
ann.add(Dense(1, activation="sigmoid"))

# Compile the model
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [25]:
# ann.compile(optimizer = 'adam',loss = 'binary_crossentropy',metrics=['accuray'])

In [36]:
ann.fit(x_train, y_train, batch_size=5,epochs=5) # Total = 15,8

Epoch 1/5
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5333 - loss: 0.6389
Epoch 2/5
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4583 - loss: 0.6546
Epoch 3/5
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.4333 - loss: 0.6624
Epoch 4/5
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.4083 - loss: 0.6726
Epoch 5/5
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4583 - loss: 0.6525

In [39]:
prd = ann.predict(x_test)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

In [40]:
prd

array([[0.4827946 ],
       [0.48053947],
       [0.5090201 ],
       [0.5272212 ]], dtype=float32)

In [42]:
for i in prd:
    print(i[0])

0.4827946
0.48053947
0.5090201
0.5272212

In [37]:
from sklearn.metrics import accuracy_score

In [44]:
prd_data = []
for i in prd:
    if i[0] > 0.5:
        prd_data.append(1)
    else:
        prd_data.append(0)

In [47]:
print("TeSt---ACCURECY----")
accuracy_score(y_test,prd_data)*100

TeSt---ACCURECY----

50.0