In [ ]:
# To Finding Spam,Email etc

In [1]:
l = ["My name is Nagaraj Loni","I am a BE Student"]

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({"name":l})
df

                      name
0  My Name is Nagaraj Loni
1        I am a BE Student

In [5]:
from sklearn.feature_extraction.text import CountVectorizer

In [6]:
cv = CountVectorizer()

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

# Assuming df is a DataFrame with a column named "name"
cv = CountVectorizer()
new_data = cv.fit_transform(df["name"])

In [15]:
print(new_data)

  (0, 4)	1
  (0, 6)	1
  (0, 2)	1
  (0, 5)	1
  (0, 3)	1
  (1, 0)	1
  (1, 1)	1
  (1, 7)	1

In [14]:
cv.vocabulary_

{'my': 4,
 'name': 6,
 'is': 2,
 'nagaraj': 5,
 'loni': 3,
 'am': 0,
 'be': 1,
 'student': 7}

In [16]:
print("Thanks")

Thanks